@import "./variables";
// Import Pico
@import "@picocss/pico/scss/pico";
#root {
  max-width: 1280px!important;
  margin: 0 auto!important;
  padding: 2rem!important;
  text-align: center!important;
  background-color: #242424;
}

.logo {
  height: 5em!important;
  padding: 1.5em!important;
  will-change: filter!important;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa)!important;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa)!important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg)!important;
  }
  to {
    transform: rotate(360deg)!important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear!important;
  }
}

.card {
  padding: 2em!important;
}

// span.read-the-docs {
//   // color: #FF5B37!important;
//   // margin-top: 2rem;
//   // margin-bottom: 2rem;
//   // display: block; /* the default for span */ 
//   // width: auto;
//   // height: auto;
//   // padding: 5px;
//   // border: 1px #242424!important;  
//     // background-color:  #E6dc18!important; 

// }
.attributions {
  color: #ffde59;
  margin-bottom: 3em;
  margin-top: 3em;
}


divider {
  color: #ffffff!important;

}

.viteLogo {
  max-height: 5px!important;
  max-width: 5px!important;
  padding: 1px!important;
}

.reactLogo {
  max-height: 5px!important;
  max-width: 5px!important;
  padding: 1px!important;
}


.github-source {
  //padding: 0.5em!important;
  //margin-top: 1em!important;
  //margin-bottom: 1em!important;
  scale: 0.5!important;

}

.slider {
  position: relative;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directory-slides {
  width: 300px;
  height: 700px;
  border-radius: 1px;
  aspect-ratio: 16/9;

}

.image-slides {
  width: 1000px;
  height: 600px;
  border-radius: 1px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
